@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}
* {
  font-family: "Inter";
}

.head {
  background-color: #fff !important;
  padding: 1rem 4rem;
}

.home-heading {
  font-weight: 700;
  font-size: 9rem;
  color: #868e96;
  font-family: "Azeret Mono";
}

.home-sub-heading {
  font-weight: 700;
  font-size: 3.5rem;
  color: #adb5bd;
  font-family: "Azeret Mono";
}

.savenote {
  background-color: #eef2ff;
}

.savenote-heading {
  padding: 0 2rem;
  font-weight: 700;
  color: #4b5563;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* Main Section */

.search-tags {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 1rem;
  background-color: #d1d5db;
  padding: 2rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

/* Search Button */
.tag-button {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  cursor: pointer;
  width: 10rem;
  padding: 1.2rem 1rem;
  justify-self: end;
  border-radius: 2rem;
  border: 0;
  background-color: #0b59e9;
  color: #e7f5ff;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.tag-button:active {
  transform: scale(0.98);
}

/* Author name Search */
.author-name-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(30%, -50%);
}

.author-name {
  grid-column: 3 / -1;
  position: relative;
  margin-bottom: 0.5rem !important;
}

.author-title {
  width: 100%;
  padding: 0.8rem;
  padding-left: 3rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #e5e7eb;
  outline-color: #9ca3af;
  box-shadow: 0 0 1.5rem rgba(33, 37, 41, 0.2);
}

/* Sunbject name or title SEARCH */
.subject-title {
  grid-column: 1 / 3;
  position: relative;
}

.note-title {
  width: 80%;
  padding: 0.8rem;
  padding-left: 3rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #e5e7eb;

  box-shadow: 0 0 1.5rem rgba(33, 37, 41, 0.1);
}

.note-title:focus {
  outline-color: #faa2c1;
  box-shadow: inset 0 0 1rem #fff;
}

.note-titles-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(30%, -65%);
}

/* DROPDOWNS */

.dropdown {
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #e5e7eb;
  outline-color: #9ca3af;
  box-shadow: 0 0 1.5rem rgba(33, 37, 41, 0.2);
  padding-left: 1rem;
}

.sem,
.year {
  width: 80%;
  justify-self: center;
}

.branch {
  justify-content: center;
}

/* --------------------------------------------------------------------------------------- */
/* RESULT */

.note-result {
  padding: 3rem 3rem;
  display: flex;
  flex: 1;
  overflow: hidden;
}
.note-img-hover {
  width: 14rem;
  height: 15rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

.note-img-hover div {
  transition: all 0.4s;
}

.note-img-hover div:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.detail {
  width: 20rem;
  margin-top: 0.5rem;
  position: relative;
  margin-left: 1.5rem;
}

.description {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  /* line-height: 2rem; */
}

.detail h3 {
  color: #4f4f4f;
  margin: 0 0 0.8rem 0 !important;
  font-size: 2rem;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 900;
}

.verify {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.verify-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* VIEW LIKE */

.view {
  padding: 0.7rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  transition: 0.5s;
  background-size: 200% auto;
  border: 0;
  width: 40%;
  color: black;
  box-shadow: 0 0 2rem rgba(17, 15, 15, 0.151);
  border-radius: 1rem;
  background-image: linear-gradient(50deg, #fff 0%, #d1d5db 51%, #fff 100%);
  display: block;
  position: absolute;
  bottom: 0.7em;
  cursor: pointer;
}

.view:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

.view:active {
  transform: scale(0.9);
}

.view:focus {
  text-decoration: none;
}

.trash-remove-icon {
  width: 2rem !important;
}

/* -----------modal------------------ */
.modal-content {
  background-color: #f8f9fa;
}

#notes-view {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: none;
  backdrop-filter: brightness(0.4);
  z-index: 10000;
}

#notes-view .modal-dialog {
  top: 50%;
  left: 50%;
  position: relative;

  transform: translate(-50%, -50%) !important;
  margin: 0 !important;
}

.modal-title {
  word-wrap: break-word;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.note-img-desc {
  width: 30%;
  max-width: 15rem;
  height: 18rem;
  position: relative;
  overflow: hidden;
  margin-right: 25px;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

#note-img-view-desc {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.note-metawrapper {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  margin-bottom: 2.5rem;
}

.note-meta p {
  /* text-align: center; */
  margin-bottom: 0.8rem !important;
}

.note-meta .verify p {
  margin-bottom: 0 !important;
}

.note-desc-title {
  margin-bottom: 1rem !important;
  font-weight: 700;
  font-size: 1.7rem;
}

.save-note-btn {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  background-color: #d0ebff;
  color: #226cfc !important;
  font-weight: 600;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.save-note-btn:hover {
  color: #e7f5ff !important;
  background-color: #4dabf7;
}

.save-note-btn:active {
  transform: scale(0.98);
}

.modal-body {
  padding: 0 25px 25px 25px !important;
}

.modal-color {
  color: #212529 !important;
}

.modal-header {
  padding: 15px 25px 10px 25px !important;
  border: 0 !important;
}
.modal-footer {
  padding: 0px 25px 15px 25px !important;
  border: 0 !important;
}

.modal-header svg {
  height: 2rem;
  width: 2rem;
}

.modal-header .close {
  opacity: 1;
}

/* ----------------------------------------------
---------------mynotes---------------------------
---------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------- */
/* Main Section */
.mynotes {
  margin-right: 5rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.mynotes .upload-sec {
  display: flex;
  margin: 3rem 3rem 1rem 3rem;
  gap: 1.6rem;
  align-items: center;
}

.my-uploads h2,
.upload h2 {
  font-size: 1.6rem !important;
}

.mynotes .upload-sec h2 {
  margin: 0;
  font-size: 1.6rem !important;
}

.mynotes .upload-sec a {
  text-decoration: none;
}

/* My Upload SECTION */
.mynotes a .my-uploads {
  background-color: #6741d9;
  color: #f3f0ff;
  padding: 1.2rem;
  border-radius: 5px;
}

.mynotes a .my-uploads:hover {
  background-color: #6741d9;
  color: #f3f0ff;
  transition: all 0.3s;
}

.mynotes a .my-uploads:active {
  transform: scale(0.98);
}

/* Upload Button */
.mynotes a .upload {
  padding: 1.2rem;
  border-radius: 5px;
  color: #6741d9;
}

.mynotes a .upload:hover {
  background-color: #9775fa;
  color: #f3f0ff;
  transition: all 0.3s;
}

.mynotes a .upload:active {
  background-color: #6741d9;
  color: #f3f0ff;
  transform: scale(0.98);
}

/* YEAR SECTION */

.mynotes .year {
  width: 15%;
  font-family: inherit;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #e5e7eb;
  outline-color: #9ca3af;
  box-shadow: 0 0 1.5rem rgba(33, 37, 41, 0.1);
  padding-left: 1rem;
}

/* -------------------------------------- */
/* Result Section */

.mynotes .note-img {
  width: 13rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

.mynotes .detail {
  width: 20rem;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.mynotes .description {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  /* line-height: 2rem; */
}

.mynotes .detail h3 {
  color: #4f4f4f;
  margin: 0 0 0.8rem 0 !important;
  font-size: 2rem;
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 900;
}

.mynotes .verify {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mynotes .verify-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* VIEW LIKE */

.mynotes .view {
  background-image: linear-gradient(50deg, #fff 0%, #d1d5db 51%, #fff 100%);
}
.mynotes .view {
  padding: 0.7rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  transition: 0.5s;
  background-size: 200% auto;
  border: 0;
  width: 40%;
  color: black;
  box-shadow: 0 0 2rem rgba(17, 15, 15, 0.151);
  border-radius: 1rem;
  display: block;
  cursor: pointer;
}

.mynotes .view:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

.mynotes .view:active {
  transform: scale(0.9);
}

.mynotes .view:focus {
  text-decoration: none;
}

/* -----------modal------------------ */
.mynotes .modal-content {
  background-color: #e9ecef;
}

.mynotes .modal-dialog {
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto !important;
}

.mynotes .modal-title {
  word-wrap: break-word;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.mynotes .note-img-desc {
  width: 30%;
  max-width: 15rem;
  height: auto;
  margin-right: 25px;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

.mynotes .note-metawrapper {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  margin-bottom: 2.5rem;
}

.mynotes .note-meta p {
  /* text-align: center; */
  margin-bottom: 0.8rem !important;
}

.mynotes .note-meta .verify p {
  margin-bottom: 0 !important;
}

.mynotes .note-desc-title {
  margin-bottom: 1rem !important;
  font-weight: 700;
  font-size: 1.7rem;
}

.remove-note-btn,
.delete-note-btn {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  background-color: #ffe3e3 !important;
  color: rgb(255, 50, 50) !important;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 0.8rem;
  margin-right: 1rem;
}

.remove-note-btn:hover,
.delete-note-btn:hover {
  color: #fff !important;
  background-color: rgb(255, 50, 50) !important ;
  transition: all 0.3s;
}

.remove-note-btn:active,
.delete-note-btn:active {
  transform: scale(0.98);
}

.mynotes .modal-body {
  padding: 0 25px 25px 25px !important;
}

.mynotes .modal-color {
  color: #212529 !important;
}

.mynotes .modal-header {
  padding: 15px 25px 10px 25px !important;
  border: 0 !important;
}
.mynotes .modal-footer {
  padding: 0px 25px 15px 25px !important;
  border: 0 !important;
}

.mynotes .modal-header svg {
  height: 2rem;
  width: 2rem;
}

.mynotes .modal-header .close {
  opacity: 1;
}

/* ----------------------------------------------
---------------myprofile---------------------------
---------------------------------------------- */

/* Main Section */
.myprofile {
  margin-right: 5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ------------------------------------------------ */
/* Personal Info */
.myprofile .personal-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Edit button */
.myprofile .edit-info {
  padding: 1rem 2rem;
  font-family: inherit;
  background-color: #c5f6fa;
  color: #495057;
  border: 0;
  font-size: 1.6rem;
  margin-left: auto;
  align-self: flex-start;
  border-radius: 2rem;

  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.075);
}

.myprofile .edit-info:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #3bc9db;
  color: #212529;
  transition: all 0.2s;
  text-decoration: none;
}

.myprofile .edit-info:active {
  transform: scale(0.98);
}

.myprofile .edit-info:focus {
  text-decoration: none;
}
/* ----------------------------------------------------- */
/* College Info */
.myprofile .college-info {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
}

/* ------------------------------------------------------ */
/* Sub Menu */
.myprofile .sub-menu {
  margin-top: 1rem;
  display: flex;
  gap: 5rem;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  width: fit-content;
  padding: 1.5rem;
  background-color: #f8f9fa;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.myprofile .submenu-link:link,
.myprofile .submenu-link:visited,
.myprofile .submenu-link:hover,
.myprofile .submenu-link:active {
  text-decoration: none;
  color: #212529;
}

.myprofile .submenu-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.myprofile .submenu-icon {
  width: 5rem;
  height: 5rem;
}

#up-removeImage {
  width: 2rem;
  display: none;
  cursor: pointer;
  z-index: 10000;
  position: absolute;
  right: 1.5rem;
  bottom: 2rem;
}

/* ------------------------------------------------------ */
/* Preferences */
.myprofile .preferences {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.myprofile .preferences h2 {
  font-size: 2rem;
}

.myprofile .preferences-flex {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* EDIT BUTTON HIDDEN */
.editprofile .modal-body {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
}

.editprofile .form-header {
  background: rgb(0, 132, 255);
  margin: 15px 0px 25px 0px;
  border-radius: 10px;
  padding: 15px;
}

.editprofile .form-header h1,
.editprofile .form-header p {
  text-align: center;
  color: white;
}

.editprofile .modal-body p {
  font-size: 12px;
}

.editprofile .modal-body label {
  margin-left: 20px;
}

.editprofile .modal-body input,
.editprofile .modal-body textarea {
  padding: 10px;
  margin: 5px 20px 20px 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.editprofile .modal-body input:focus,
.editprofile .modal-body textarea:focus {
  border: 1px solid rgb(0, 132, 255);
}

.editprofile .modal-body textarea {
  resize: vertical;
}

.editprofile .modal-body button {
  outline: none;
  background: rgb(0, 132, 255);
  border: none;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.editprofile .modal-body button:hover {
  background: rgb(0, 105, 204);
}

.editprofile .modal-dialog {
  margin: 0 auto;
}

/* ----------------------------------------------
---------------savednotes---------------------------
---------------------------------------------- */

.saved-notes {
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 2rem;
}

/* -=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-==-=-=--=-=-=-=-=-===-=----=-=- */
/* SUBJECT TITLE SEARCH */
.saved-notes .subject-title {
  position: relative;
}

.saved-notes .note-title {
  width: 100%;
  padding: 0.8rem;
  padding-left: 3rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #e5e7eb;
  outline-color: #9ca3af;
  box-shadow: 0 0 1.5rem rgba(33, 37, 41, 0.2);
}

.saved-notes .note-titles-icon {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(30%, -50%);
}

/* -------------------------------------------------------------------- */
/* Result */

.saved-notes .note-img {
  width: 13rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

.saved-notes .detail {
  width: 20rem;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.saved-notes .description {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.saved-notes .detail h3 {
  color: #4f4f4f;
  margin: 0 0 0.8rem 0 !important;
  word-wrap: break-word;
  font-size: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-weight: 900;
}

.saved-notes .verify {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.saved-notes .verify-icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* VIEW LIKE */

.saved-notes .view {
  background-image: linear-gradient(50deg, #fff 0%, #d1d5db 51%, #fff 100%);
}
.saved-notes .view {
  padding: 0.7rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  transition: 0.5s;
  background-size: 200% auto;
  border: 0;
  width: 40%;
  color: black;
  box-shadow: 0 0 2rem rgba(17, 15, 15, 0.151);
  border-radius: 1rem;
  display: block;
  cursor: pointer;
}

.saved-notes .view:hover {
  background-position: right center; /* change the direction of the change here */
  color: black;
  text-decoration: none;
}

.saved-notes .view:active {
  transform: scale(0.9);
}

.saved-notes .view:focus {
  text-decoration: none;
}

/* -----------modal------------------ */
.saved-notes .modal-content {
  background-color: #e9ecef;
}

.saved-notes .modal-dialog {
  top: 50%;
  transform: translateY(-50%) !important;
  margin: 0 auto !important;
}

.saved-notes .modal-title {
  word-wrap: break-word;
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.saved-notes .note-img-desc {
  width: 30%;
  max-width: 15rem;
  height: auto;
  margin-right: 25px;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
}

.saved-notes .note-metawrapper {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  margin-bottom: 2.5rem;
}

.saved-notes .note-meta p {
  /* text-align: center; */
  margin-bottom: 0.8rem !important;
}

.saved-notes .note-meta .verify p {
  margin-bottom: 0 !important;
}

.saved-notes .note-desc-title {
  margin-bottom: 1rem !important;
  font-weight: 700;
  font-size: 1.7rem;
}

.download-note-btn,
.download-note-btn:link,
.download-note-btn:visited {
  background-color: #226cfc !important;
  color: #e7f5ff !important;
  outline: none !important;
}

.download-note-btn:hover {
  background-color: #364fc7 !important;
  color: #e7f5ff !important;
}

.download-note-btn:active {
  background-color: #364fc7 !important;
  color: #e7f5ff !important;
  transform: scale(0.98);
}

.saved-notes .remove-note-btn {
  text-decoration: none;
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  background-color: #d0ebff;
  color: #226cfc !important;
  font-weight: 600;
  font-size: 1.4rem;
}

.saved-notes .remove-note-btn:hover {
  color: #e7f5ff !important;
  background-color: #4dabf7;
}

.saved-notes .remove-note-btn:active {
  transform: scale(0.98);
}

.saved-notes .modal-body {
  padding: 0 25px 25px 25px !important;
}

.saved-notes .modal-color {
  color: #212529 !important;
}

.saved-notes .modal-header {
  padding: 15px 25px 10px 25px !important;
  border: 0 !important;
}
.saved-notes .modal-footer {
  padding: 0px 25px 15px 25px !important;
  border: 0 !important;
}

.saved-notes .modal-header svg {
  height: 2rem;
  width: 2rem;
}

.saved-notes .modal-header .close {
  opacity: 1;
}

.note-desc {
  line-height: 1.2 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
}
.note-desc,
.note-desc-title {
  padding-left: 5px;
}

.float-left {
  float: left;
  margin-left: -0.7rem;
}

.float-right {
  float: right;
}

/* -------------------------------------------------------------------------- */
/* Uploads */
.upload-note {
  margin-right: 5rem;
  margin-bottom: 2rem;
  background-color: #f8f9fa;
  /* border-radius: 1rem; */
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 3rem 3rem;
}

.upload-note .upload-sec {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.my-uploads h2,
.upload h2 {
  margin: 0;
  font-size: 1.6rem !important;
}

.upload-note .upload-sec a {
  text-decoration: none;
}

/* My Upload SECTION */
.upload-note a .upload {
  background-color: #6741d9;
  color: #f3f0ff;
  padding: 1.2rem;
  border-radius: 5px;
}

.upload-note a .upload:hover {
  background-color: #6741d9;
  color: #f3f0ff;
  transition: all 0.3s;
}

.upload-note a .upload:active {
  transform: scale(0.98);
}

/* Upload Button */
.upload-note a .my-uploads {
  padding: 1.2rem;
  border-radius: 5px;
  color: #6741d9;
}

.upload-note a .my-uploads:hover {
  background-color: #9775fa;
  color: #f3f0ff;
  transition: all 0.3s;
}

.upload-note a .my-uploads:active {
  background-color: #6741d9;
  color: #f3f0ff;
  transform: scale(0.98);
}

.main {
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100% - 4rem);
  height: calc(100vh - 10rem);
}

.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: transparent;
}

.main::-webkit-scrollbar-thumb {
  background: #a5d8ff !important;
  border-radius: 10px;
}

.main_container_LD {
  width: 85%;
  height: 80%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
  position: relative;
  font-family: "Inter", sans-serif;
}

.detailsInput_LD {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.fileUpload_LD {
  position: relative;
  width: 40%;
  float: left;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}

.notes-file_preview {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#up-file_preview {
  width: 100%;
  height: 100%;
  margin-top: -1.2rem;
  overflow: hidden;
  object-fit: cover;
  box-sizing: border-box;
}

#notes-file_preview {
  margin: 0;
}

.detailsInput_LD {
  width: 60%;
  height: 100%;
  position: relative;
  float: left;
  box-sizing: border-box;
  padding: 10px 20px;
}

/*----------file upload------------*/

.file-upload-wrapper,
.card.card-body {
  background: linear-gradient(45deg, #ef8172, #ff4668);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidd en;
  position: absolute;
}

.file-upload-wrapper:hover,
.card.card-body:hover {
  background: linear-gradient(45deg, #fc8778, #ff1540);
}

.file-upload-wrapper .card .card-body input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;
}

.card-body {
  padding: 0 !important;
}

.file-upload-text {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
}

.fileIcon {
  font-size: 5em;
  color: #fff9;
}

.subFile-upload-text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.subFile-upload-text p {
  font-size: 1.2em;
  color: #fff9;
  margin: 10px 0;
  font-family: "Inter";
}

.textMargin {
  margin-top: 10px;
}

.form-control {
  font-size: 1.2rem !important;
  padding: 20px !important;
  font-family: "Inter";
}

.btnMargin {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Inter";
  font-size: 1.5em !important;
  color: #ff4668 !important;
  border: 1px solid #ff4668 !important;
  width: 95% !important;
}

.btnMargin:hover {
  color: #fff !important;
  background-color: #ff4668 !important;
}

.uploaded_image_LD {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
  display: none;
}

.uploaded_image_LD:hover {
  background-color: #0005;
}

.uploaded_image_LD img {
  position: relative;
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
  min-width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.uploaded_image_LD i {
  position: absolute;
  z-index: 20;
  bottom: 20px;
  right: 20px;
  font-size: 2em;
  background-color: #fff;
  padding: 5px;
  border-radius: 2px;
}

.uploaded_image_LD i:hover {
  color: #fff;
  background: linear-gradient(45deg, #fc8778, #ff1540);
  transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
}

#up-status {
  font-size: 1.2em;
  font-family: "Poppins";
  margin-top: 10px;
}

.pad {
  padding-left: 1.2rem;
  width: 100%;
}

.verify-faculty {
  width: 50%;
}

.desc-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

textarea {
  line-height: 1;
}

textarea::-webkit-scrollbar {
  width: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #ffdeeb !important;
  border-radius: 10px;
}

.desc-area {
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #e5e7eb;
  box-shadow: 0 0 1.5rem rgba(33, 37, 41, 0.1);
}

.desc-area:focus {
  outline-color: #faa2c1;
  box-shadow: inset 0 0 1rem #fff;
}

.desc-title {
  font-size: 1.6rem;
  font-weight: 500;
}

.d-none {
  display: none;
}

#desc {
  padding: 1rem;
  outline-color: #ff4668;
  border-color: #495057;
  border-radius: 4px;
}

.result-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

/* ::-webkit-scrollbar {
  width: 15px;  
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
} */
